<router-outlet>
  <div class="menu-container">
    <h1 class="menu-title">Nos Menus</h1>

    <section class="menu-grid">
      @for (box of boxes; track box) {
      <div class="menu-card">
        <a [routerLink]="['/product', box.id]" class="card-link">
          <div class="card-image-container">
            <img [src]="box.image || 'https://placehold.co/400x300?text=Sushi'" alt="{{box.name}}" class="card-image">
          </div>

          <div class="card-content">
            <h3 class="product-name">
              {{box.name || 'Nom du menu'}}
            </h3>

            <p class="product-description">
              @if (box.flavors && box.flavors.length > 0) {
              {{box.flavors.join(', ')}}
              } @else {
              Composition du chef
              }
            </p>

            <div class="card-footer">
              <span class="product-price">
                {{box.price != null ? box.price : '0'}}€
              </span>
            </div>
          </div>
        </a>

        <div class="card-actions">
          <a [routerLink]="['/product', box.id]" class="view-button">
            Voir détails
          </a>
          <button class="cart-button" (click)="ajouter(box)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg>
          </button>
        </div>
      </div>
      }
    </section>
  </div>

  @if (showToast) {
    <div class="fixed top-24 right-8 bg-[#EC3C3C] text-white px-6 py-4 rounded-xl shadow-2xl flex items-center gap-3  z-50 border border-white/20">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
      <span class="font-semibold">{{toastMessage}}</span>
    </div>
  }
</router-outlet>